{% extends "bgmonitor/master_actual.html" %}
{% block processdata %}
		function floorDate(datetime) {
			var newDate = new Date(datetime);
			//newDate.setHours(0);
			newDate.setMinutes(0);
			newDate.setSeconds(0);
			return newDate;
		}


		function avgNotNulls(arr) {
			var cnt = 0;
			var sum = 0;
			for (var i = 0; i < arr.length; i++) {
				if (arr[i] != null)
				{
					cnt++;
					sum += arr[i];
				}
			}
			return cnt > 0 ? sum / cnt : null;
		}
		
		function sumNotNull(arr) {
			var cnt = 0;
			var sum = 0;
			for (var i = 0; i < arr.length; i++) {
				if (arr[i] != null)
				{
					cnt++;
					sum += arr[i];
				}
			}
			return cnt > 0 ? sum : null;   
		}

		var data = google.visualization.data.group(data, [{
		     column: 0,
		     modifier: floorDate,
		     type: 'datetime'
		 }], [{
		     column: 1,
		     label: 'BG',
		     aggregation: avgNotNulls,
		     type: 'number'
		 }, {
		     column: 2,
		     label: 'KE',
		     aggregation: sumNotNull,
		     type: 'number'
		 }, {
		     column: 3,
		     label: 'Bolus',
		     aggregation: sumNotNull,
		     type: 'number'
		 }]);

		var datafull = google.visualization.data.join(data, datalimits, 'full', [[0, 0]], [1,2,3], [1,2]);
{% endblock %}

