{% extends "bgmonitor/master.html" %}
{% block title %}
Current status
{% endblock %}
{% block css %}

.fixed-panel {
  min-height: 180px;
  max-height: 180px;
  overflow-y: hidden;
  text-align: center;
}

{% endblock %}

{% block content %}
        <div class="container">
          <div class="row">
            <div class="panel panel-default col-md-12">
              <div class="panel-body">
                {{  status.timestamp |date:'Y-m-d H:i' }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Sensor BGL:</div>
              <div class="panel-body">
                <h5>{{ status.sensorBGLTimestamp |date:'Y-m-d H:i' }}</h5>
                <h1>
                  {% if status.sensorBGL < 512 %}
                    {{ status.sensorBGL}}
                  {% else %}
                    n/a
                  {% endif %}
                </h1>
                <h3>{{ status.trendArrow }}&nbsp;({{ status.sensorRateOfChangePerMin }})</h3>
              </div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Last blood GV</div>
              <div class="panel-body">
                <h1>{{ status.bolusWizardBGL }}</h1>
              </div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">TBD</div>
              <div class="panel-body"><h1></h1></div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Calibration</div>
              <div class="panel-body">
                <h2>{{ status.calibrationTimeRemaining.hours }}:{{ status.calibrationTimeRemaining.minutes |stringformat:"02d" }}</h2>
                <h4>{{ status.calibrationdatetime |date:'Y-m-d H:i' }}</h4>
              </div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Battery</div>
              <div class="panel-body"><h1>{{ status.batteryLevelPercentage }}%</h1></div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Sensor battery</div>
              <div class="panel-body"><h1>{{ status.sensorBatteryPercent }}%</h1></div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Sensor status</div>
              <div class="panel-body">
                <h2>{{ status.sensorStatus }}</h2>
                <h4>{{ status.sensorStatusValueBin }}</h4>
              </div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Pump Status</div>
              <div class="panel-body">
                <h5>CGM: {{ status.StatusCgm |yesno:"OK,Not OK,No value" }}</h5>
                <h5>Temp basal: {{ status.StatusTempBasal |yesno:"Yen,No,No value" }}</h5>
                <h5>Suspended: {{ status.StatusSuspended |yesno:"Yes,No,No value" }}</h5>
              </div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Insulin</div>              
              <div class="panel-body">
                <h2>Active: {{ status.activeInsulin }}</h2>
                <h4>Remaining: {{ status.insulinUnitsRemaining }}</h4>
            </div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Current basal rate</div>
              <div class="panel-body"><h1>{{ status.currentBasalRate }}</h1></div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Temp basal</div>
              <div class="panel-body"><h1>{{ status.tempBasalPercentage|stringformat:"d%" }}</h1></div>
            </div>
            <div class="panel panel-default fixed-panel col-md-3 col-sm-4">
              <div class="panel-heading">Temp basal remaining</div>
              <h2>{{ status.tempBasalTimeRemaining.hours }}:{{ status.tempBasalTimeRemaining.minutes |stringformat:"02d" }}</h2>
              <h4>{{ status.tempBasalTime |date:'Y-m-d H:i' }}</h4>
          </div>
        </div>
{% endblock %}
