{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS --><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <!-- jQuery library --><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript --><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="{% static 'bgmonitor/NoSleep.min.js' %}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
		<script type="text/javascript">
		<!--
		{% block scripts %}{% endblock %}
		-->
		</script>
		<style>
		{% block css %}{% endblock %}
		</style>
		<title>{% block title %}Change me: title{% endblock %}</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Diabmon</a>
				</div>
				<ul class="nav navbar-nav">
					<li {% if request.resolver_match.url_name == 'currentstatus' %}class="active"{% endif %}><a href="{% url 'currentstatus' %}">Current data</a></li>
					<li {% if request.resolver_match.url_name == 'main' %}class="active"{% endif %}><a href="{% url 'main' %}">Hourly</a></li>
					<li {% if request.resolver_match.url_name == 'main_details' %}class="active"{% endif %}><a href="{% url 'main_details' %}">Details</a></li>
					<li {% if request.resolver_match.url_name == 'stats' %}class="active"{% endif %}><a href="{% url 'stats' %}">14d Stats</a></li>
					<li {% if request.resolver_match.url_name == 'pumpstatus' %}class="active"{% endif %}><a href="{% url 'pumpstatus' %}">Pump status</a></li>
				</ul>
			</div>
		</nav>
		<section id="main">
			{% block content %}Change me: content{% endblock %}

		<button id="keepscreentoggle" type="button" class="btn btn-secondary">Keep screen off</button>
 <script>
      var noSleep = new NoSleep();
      var noSleepOn = false;

      document.querySelector("#keepscreentoggle").addEventListener('click', function() {
        btn = document.querySelector("#keepscreentoggle");
        if (!noSleepOn) {
          noSleep.enable(); // keep the screen on!
          noSleepOn = true;
	  btn.classList.add("btn-primary");
	  btn.classList.remove("btn-secondary");
          btn.innerHTML="Keep screen on";
          console.log("NoSleep on");
        } else {
          noSleep.disable(); // let the screen turn off.
          noSleepOn = false;
	  btn.classList.add("btn-secondary");
	  btn.classList.remove("btn-primary");
          btn.innerHTML="Keep screen off";
          console.log("NoSleep off");
        }
      }, false);
    </script>			
		</section>
	</body>
</html>
