<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS --><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <!-- jQuery library --><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript --><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
		<!--
		{% block scripts %}{% endblock %}
		-->
		</script>
		<title>{% block title %}Change me: title{% endblock %}</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Diabmon</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{% url 'bgmonitor:main' %}">Hourly</a></li>
					<li><a href="{% url 'bgmonitor:main_details' %}">Details</a></li>
					<li><a href="{% url 'bgmonitor:stats' %}">14d Stats</a></li>
				</ul>
			</div>
		</nav>
		<section id="main">
			{% block content %}Change me: content{% endblock %}
		</section>
	</body>
</html>