{% extends "bgmonitor/master.html" %}
{% block scripts %}
      google.charts.load('current', {'packages':['corechart']});
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawChart);

      function roundMinutes(date) {
//         date.setHours(date.getHours() + Math.round(date.getMinutes()/60));
//         date.setMinutes(0);
//         date.setSeconds(0);
         date.setMilliseconds(0);
         return date;
      }

      function drawChart() {
         var databg = new google.visualization.DataTable();
         databg.addColumn('datetime', 'Date & Time');
         databg.addColumn('number', 'BG Value');
         {% for m in measures %}
           databg.addRow([roundMinutes(new Date("{{ m.timestamp.isoformat }}")), {{ m.value }}]);
         {% endfor %}
         var databolus = new google.visualization.DataTable();
         databolus.addColumn('datetime', 'Date & Time');
         databolus.addColumn('number', 'Bolus');
         {% for m in boluses %}
           databolus.addRow([roundMinutes(new Date("{{ m.timestamp.isoformat }}")), {{ m.delivered }}]);
         {% endfor %}
         
         var datalimits = new google.visualization.DataTable();
         datalimits.addColumn('datetime', 'Date & Time');
         datalimits.addColumn('number', 'BG Low');
         datalimits.addColumn('number', 'BG High');
         datalimits.addRow([roundMinutes(new Date("{{ mintime.isoformat }}")), 70, 140]);
         datalimits.addRow([roundMinutes(new Date("{{ maxtime.isoformat }}")), 70, 140]);
         
         var datawiz = new google.visualization.DataTable();
         datawiz.addColumn('datetime', 'Date & Time');
         datawiz.addColumn('number', 'Meal (KE)');
         {% for m in wizardvalues %}
           datawiz.addRow([roundMinutes(new Date("{{ m.timestamp.isoformat }}")), {{ m.carbInput }}]);
         {% endfor %}
         
         var data = google.visualization.data.join(databg, datawiz, 'full', [[0, 0]], [1], [1]);
         var data = google.visualization.data.join(data, databolus, 'full', [[0, 0]], [1,2], [1]);
         var datafull = google.visualization.data.join(data, datalimits, 'full', [[0, 0]], [1,2,3], [1,2]);
         
         var options = {
          title: 'BG Values',
          curveType: 'function',
          interpolateNulls: true,
          height: 450,
          bar: {
            groupWidth: 20,
          },
          colors: ['#3366cc', '#109618', '#990099', '#dc3912', '#ff9900'],
          series: {
            0: { pointSize: 5, targetAxisIndex: 0 },
            1: { pointSize: 4, pointShape: 'square', targetAxisIndex: 1, interpolateNulls: false, type: 'bars' },
            2: { pointSize: 4, pointShape: 'diamond', targetAxisIndex: 1, interpolateNulls: false, type: 'bars' },            
            3: { targetAxisIndex: 0 },
            4: { targetAxisIndex: 0 },
          },
          legend: { position: 'bottom' },
          hAxis: {
            format: "d/M H:mm",
            slantedText:true, 
            slantedTextAngle:75
          },
          vAxes: {
            0: {
              ticks: [0, 50, 70, 100, 140, 200, 250, 300, 350, 400]
            },
            1: {
              gridlines: {color: 'transparent'},
              ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            }
          }
        };
						
		{% block processdata %}
			// here some post-processing and rendering code
		{% endblock %}

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
		var table = new google.visualization.Table(document.getElementById('table_div'));

        chart.draw(datafull, options);
//		table.draw(data);
		table.draw(data, {width: "100%", height: 450, sortColumn: 0, sortAscending: False});
      }
{% endblock %}

{% block content %}
        <div class="container">        
          <div id="curve_chart" class="col-md-6"></div>
          <div id="table_div" class="col-md-6"></div>
        </div>
{% endblock %}
