{% extends "bgmonitor/master.html" %}
{% block scripts %}
      {% block graphsettings %}
      var detailedGraphPointSize = 5;
      {% endblock %}
      setInterval(function() {
                  window.location.reload();
                }, 5*60*1000);

      google.charts.load('current', {'packages':['corechart']});
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawChart);

      function roundMinutes(date) {
           return new Date(Math.round(date.getTime() / 1000) * 1000);
      }

      function drawChart() {
         var databg = new google.visualization.DataTable();
         databg.addColumn('datetime', 'Date & Time');
         databg.addColumn('number', 'BG Value');
         {% for m in measures %}
           databg.addRow([roundMinutes(new Date("{{ m.timestamp.isoformat }}")), {{ m.value }}]);
         {% endfor %}
         var databolus = new google.visualization.DataTable();
         databolus.addColumn('datetime', 'Date & Time');
         databolus.addColumn('number', 'Bolus');
         {% for m in boluses %}
           databolus.addRow([roundMinutes(new Date("{{ m.timestamp.isoformat }}")), {{ m.delivered }}]);
         {% endfor %}
         
         var databasal = new google.visualization.DataTable();
         databasal.addColumn('datetime', 'Date & Time');
         databasal.addColumn('number', 'Basal');
	 // {{ basal }}
         {% for b in basal %}
             databasal.addRow([roundMinutes(new Date("{{ b.timestamp.isoformat }}")), {{ b.rate }}]);
         {% endfor %}

         var datalimits = new google.visualization.DataTable();
         datalimits.addColumn('datetime', 'Date & Time');
         datalimits.addColumn('number', 'BG Low');
         datalimits.addColumn('number', 'BG High');
         datalimits.addRow([roundMinutes(new Date("{{ mintime.isoformat }}")), 70, 140]);
         datalimits.addRow([roundMinutes(new Date("{{ maxtime.isoformat }}")), 70, 140]);
         
         var datawiz = new google.visualization.DataTable();
         datawiz.addColumn('datetime', 'Date & Time');
         datawiz.addColumn('number', 'Meal (KE)');
         {% for m in wizardvalues %}
           datawiz.addRow([roundMinutes(new Date("{{ m.timestamp.isoformat }}")), {{ m.carbInput }}]);
         {% endfor %}

	 var dataevents = new google.visualization.DataTable();
	 dataevents.addColumn('datetime', 'Date & Time');
	 dataevents.addColumn('number', 'Event');
	 dataevents.addColumn({type: 'string', role: 'style'});
	 dataevents.addColumn({type: 'string', role: 'tooltip'});
	 
         {% for e in events %}
	   {% if e.eventtype == "InsulinDeliveryStoppedEvent" %}
             dataevents.addRow([roundMinutes(new Date("{{ e.timestamp.isoformat }}")), 0, 'color: red', '{{ e.description }}']);
           {% elif e.eventtype == "InsulinDeliveryRestartedEvent" %}
             dataevents.addRow([roundMinutes(new Date("{{ e.timestamp.isoformat }}")), 0, 'color: green', '{{ e.description }}']);
           {% elif e.eventtype == "SensorAlertSilenceStartedEvent" %}
             dataevents.addRow([roundMinutes(new Date("{{ e.timestamp.isoformat }}")), 0, 'color: gold', '{{ e.description }}']);
           {% elif e.eventtype == "SensorAlertSilenceEndedEvent" %}
             dataevents.addRow([roundMinutes(new Date("{{ e.timestamp.isoformat }}")), 0, 'color: goldenrod', '{{ e.description }}']);
           {% endif %}
         {% endfor %}
                                      
         var data = google.visualization.data.join(databg, datawiz, 'full', [[0, 0]], [1], [1]);
         var data = google.visualization.data.join(data, databolus, 'full', [[0, 0]], [1,2], [1]);
         var data = google.visualization.data.join(data, databasal, 'full', [[0, 0]], [1,2,3], [1]);
         var datafull = google.visualization.data.join(data, datalimits, 'full', [[0, 0]], [1,2,3,4], [1,2]);
         var datafull = google.visualization.data.join(datafull, dataevents, 'full', [[0, 0]], [1,2,3,4,5,6], [1,2,3]);
         
         var options = {
          title: 'BG Values',
          curveType: 'function',
          interpolateNulls: true,
          height: 450,
          bar: {
            groupWidth: 20,
          },
          colors: ['#3366cc', '#109618', '#990099', '#dc3912', '#ff9900'],
          series: {
            0: { pointSize: detailedGraphPointSize, color: '#3366cc', targetAxisIndex: 0 },
            1: { pointSize: 4, color: '#109618', pointShape: 'square', targetAxisIndex: 1, interpolateNulls: false, type: 'bars' },
            2: { pointSize: 4, color: '#990099', pointShape: 'diamond', targetAxisIndex: 1, interpolateNulls: false, type: 'bars' },            
            3: { color: 'gray', pointSize: 2, pointShape: 'diamond', targetAxisIndex: 1 },           
            4: { color: '#dc3912', targetAxisIndex: 0 },
            5: { color: '#ff9900', targetAxisIndex: 0 },
            6: { color: 'black', pointSize: 8, pointShape: 'diamond', targetAxisIndex: 0, visibleInLegend: false, interpolateNulls: false, type: 'scatter', targetAxisIndex: 1 },
          },
          legend: { position: 'bottom' },
          hAxis: {
            format: "d/M H:mm",
            slantedText:true, 
            slantedTextAngle:75
          },
          vAxes: {
            0: {
              ticks: [0, 50, 70, 100, 140, 200, 250, 300, 350, 400]
            },
            1: {
              gridlines: {color: 'transparent'},
              ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            }
          }
        };
						
		{% block processdata %}
			// here some post-processing and rendering code
		{% endblock %}

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
		var table = new google.visualization.Table(document.getElementById('table_div'));

        chart.draw(datafull, options);
//		table.draw(data);
		table.draw(data, {width: "100%", height: 450, sortColumn: 0, sortAscending: false});
      }
{% endblock %}

{% block content %}
        <div class="container">        
          <div class="row">
            <div class="col-md-2">{{dt_start|date:'Y-m-d'}}</div>
            <div class="col-md-2">{{dt_end|date:'Y-m-d'}}</div>
          </div>
          <div class="row">
            <div id="curve_chart" class="col-md-6"></div>
            <div id="table_div" class="col-md-6"></div>
          </div>
        </div>
{% endblock %}
