{% extends "bgmonitor/master.html" %}
{% block title %}
Pump status history
{% endblock %}
{% block scripts %}
      google.charts.load('current', {'packages':['corechart']});
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawChart);

      function roundMinutes(date) {
        return new Date(Math.round(date.getTime() / 1000) * 1000);
      }

      function drawChart() {
        const None = null;

        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date & Time');
        data.addColumn('number', 'Cal. in (min)');
        data.addColumn('number', 'Insulin');

        var datatable = new google.visualization.DataTable();
        datatable.addColumn('datetime', 'Date & Time');
        datatable.addColumn('number', 'Cal. in (min)');
        datatable.addColumn('number', 'BGL');
        datatable.addColumn('string', 'BGL Trend');
        datatable.addColumn('number', 'Battery');
        datatable.addColumn('number', 'Sensor Battery');
        datatable.addColumn('number', 'Insulin');
        datatable.addColumn('string', 'Sensor status');

        var battable = new google.visualization.DataTable();
        battable.addColumn('datetime', 'Date & Time');
        battable.addColumn('number', 'Battery');
        battable.addColumn('number', 'Sensor Battery');

        var bolustable = new google.visualization.DataTable();
        bolustable.addColumn('datetime', 'Date & Time');
        bolustable.addColumn('number', 'BGL');
        bolustable.addColumn('number', 'Active insulin');
        bolustable.addColumn('number', 'Temp basal %');
        bolustable.addColumn('number', 'Basal rate');
        bolustable.addColumn('number', 'Low target');
        bolustable.addColumn('number', 'High target');

        {% for m in statusevents %}
          battable.addRow([
            roundMinutes(new Date("{{ m.timestamp.isoformat }}")), 
            {{ m.batteryLevelPercentage }},
            {{ m.sensorBatteryPercent }},
          ]);
          bolustable.addRow([
            roundMinutes(new Date("{{ m.timestamp.isoformat }}")), 
            {{ m.sensorBGL }} < 512 ? {{ m.sensorBGL }} : null,
            {{ m.activeInsulin }},
            {{ m.tempBasalMinutesRemaining }} > 0 ? {{ m.tempBasalPercentage }} : null, 
            {{ m.currentBasalRate }},
            70, 140
          ]);
          data.addRow([
            roundMinutes(new Date("{{ m.timestamp.isoformat }}")), 
            {{ m.sensorCalibrationMinutesRemaining }} != 65535 ? {{ m.sensorCalibrationMinutesRemaining }} : null,
            {{ m.insulinUnitsRemaining }},
          ]);
          datatable.addRow([
            roundMinutes(new Date("{{ m.timestamp.isoformat }}")), 
            {{ m.sensorCalibrationMinutesRemaining }} != 65535 ? {{ m.sensorCalibrationMinutesRemaining }} : null,
            {{ m.sensorBGL }} < 512 ? {{ m.sensorBGL }} : null,
            "{{ m.trendArrow }}",
            {{ m.batteryLevelPercentage }},
            {{ m.sensorBatteryPercent }},
            {{ m.insulinUnitsRemaining }},
            "{{ m.sensorStatus }}",
          ]);
        {% endfor %}

        var options = {
          title: 'Pums status history',
          curveType: 'none',
          height: 450,
          series: {
            0: { pointSize: 2, targetAxisIndex: 0 },
            1: { pointSize: 2, targetAxisIndex: 0 },
            2: { pointSize: 2, targetAxisIndex: 1 },
            3: { pointSize: 2, targetAxisIndex: 1 },
            4: { pointSize: 2, targetAxisIndex: 0 },
          },
          legend: { position: 'bottom' },
          hAxis: {
            format: "d/M H:mm",
            slantedText:true, 
            slantedTextAngle:75
          },
          vAxes: {
            0: {
              ticks: [0, 100, 200, 300, 400]
            },
            1: {
              gridlines: {color: 'transparent'},
              ticks: [0, 25, 50, 75, 100]
            }
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);

        var options_bat = {
          title: 'Pums battery status',
          curveType: 'none',
          height: 450,
          series: {
            0: { pointSize: 2, targetAxisIndex: 0 },
            1: { pointSize: 2, targetAxisIndex: 0 },
          },
          legend: { position: 'bottom' },
          hAxis: {
            format: "d/M H:mm",
            slantedText:true, 
            slantedTextAngle:75
          },
          vAxes: {
            0: {
              ticks: [0, 25, 50, 75, 100]
            }
          }
        };

        var chart_bat = new google.visualization.LineChart(document.getElementById('battery_chart'));
        chart_bat.draw(battable, options_bat);        

        var options_bolus = {
          title: 'BG & Insulin status',
          curveType: 'function',
          height: 450,
          series: {
            0: { pointSize: 2, targetAxisIndex: 0 },
            1: { pointSize: 2, targetAxisIndex: 1 },
            2: { pointSize: 2, targetAxisIndex: 0 },
            3: { pointSize: 2, targetAxisIndex: 1 },
            4: { targetAxisIndex: 0, pointsVisible: false, visibleInLegend: false, lineDashStyle: [10, 10], color: "orange" },
            5: { targetAxisIndex: 0, pointsVisible: false, visibleInLegend: false, lineDashStyle: [10, 10], color: "red" },
          },
          legend: { position: 'bottom' },
          hAxis: {
            format: "d/M H:mm",
            slantedText:true, 
            slantedTextAngle:75
          },
          vAxes: {
            0: {
              ticks: [0, 50, 100, 150, 200, 250, 300, 350, 400]
            },
            1: {
              ticks: [0, 0.5, 1, 2, 3, 4, 5]
            }
          }
        };

        var chart_bolus = new google.visualization.LineChart(document.getElementById('bg_insulin_chart'));
        chart_bolus.draw(bolustable, options_bolus);

        var table = new google.visualization.Table(document.getElementById('curve_table'));
        table.draw(datatable, {width: "100%", height: 450, sortColumn: 0, sortAscending: false});
      }
{% endblock %}

{% block content %}
        <div class="container">
          {% include "bgmonitor/shared/dateselector.html" %}
          <div class="row">
            <div id="curve_table" class="col-md-12"></div>
          </div>
          <div class="row">
            <div id="bg_insulin_chart" class="col-md-12"></div>
          </div>
          <div class="row">
            <div id="battery_chart" class="col-md-6"></div>
            <div id="curve_chart" class="col-md-6"></div>
          </div>
        </div>
{% endblock %}
