{% extends "bgmonitor/master.html" %}
{% block title %}
Statistics view on the last 14 days
{% endblock %}
{% block scripts %}
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Hour');
        data.addColumn('number', 'BG Value Avg');
        data.addColumn('number', 'BG Low');
        data.addColumn('number', 'BG High');
        data.addColumn('number', 'BG Min');
        data.addColumn('number', 'BG Max');
        data.addColumn('number', 'BG Q15');
        data.addColumn('number', 'BG Q85');
        {% for m in measures.itertuples %}
        data.addRow([{{ m.Index }}, 
            {{ m.3|floatformat:"0" }}, 70, 140,
            {{ m.1|floatformat:"0" }},
            {{ m.2|floatformat:"0" }},
            {{ m.4|floatformat:"0" }},
            {{ m.5|floatformat:"0" }}]);
        {% endfor %}
        var options = {
          title: 'BG Values',
          curveType: 'function',
          height: 450,
          series: {
            0: { pointSize: 2 },
            3: { lineDashStyle: [2, 2], lineWidth: 1 },
            4: { lineDashStyle: [2, 2], lineWidth: 1 },
          },
          legend: { position: 'right' },
          vAxis: {
              ticks: [0, 50, 70, 100, 140, 200, 250, 300, 350, 400]
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
{% endblock %}

{% block content %}
        <div class="container">
         <div class="col-md-6">
          <table class="table table-striped table-hover">
              <tr>
                <th>Time</th>
                <th>Min</th>
                <th>Max</th>
                <th>Q 15</th>
                <th>Q 85</th>
                <th>Avg</th>
              </tr>
              
            {% for m in measures.itertuples %}
              <tr>
                <td>{{m.Index}}</td>
                <td>{{m.1|floatformat:"0"}}</td>
                <td>{{m.2|floatformat:"0"}}</td>
                <td>{{m.4|floatformat:"0"}}</td>
                <td>{{m.5|floatformat:"0"}}</td>
                <td>{{m.3|floatformat:"0"}}</td>
              </tr>
            {% endfor %}
          </table>
         </div>
         <div id="curve_chart" class="col-md-6"></div>
        </div>
{% endblock %}
